* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
}

.max-width-wrapper {
    max-width: 800px;
    margin: auto;
}

main {
    background-color: hsla(0, 0%, 40%, 1);
    height: 50vh;
    padding-top: 72px;
    min-width: 390px;
}

header {
    background-color: hsl(0, 0%, 100%);
    border-bottom: 8px solid hsl(0, 0%, 60%);
    height: 50vh;
    padding-top: 72px;
    min-width: 390px;
}

section {
    border-bottom: 8px solid hsl(0, 0%, 60%);
}

h1 {
    color: hsl(0, 0%, 0%);
    font-family: Lato;
    font-size: 2rem;
    font-style: normal;
    font-weight: 800;
    line-height: 120%;
    padding-left: 24px;
    margin-bottom: 3rem;
}
p {
    margin-top: 1rem;
    color: hsl(0, 0%, 0%);
    font-family: Lato;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    width: 100%;
    padding: 0px 24px 0px 24px;
}

strong {
    color: hsl(160, 100%, 30%);
    font-family: Lato;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 800;
    line-height: 150%;
}
.card {
    background-color: hsl(0, 0%, 100%);
    padding: 8px 0px 24px 0px;
}

.intro-chunk {
    background-color: hsl(0, 0%, 100%);
}

.intro-chunk > p {
    max-width: 50%;
}

.indented-heading {
    color: hsl(0, 0%, 0%);
    font-family: Lato;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: 120%;
    border-bottom: 8px solid #c90;
    background-color: hsl(45, 100%, 50%);
    padding: 16px 32px 15px 32px;
    width: fit-content;
    margin: 0px;
    margin-left: -8px;
}
